* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.di {
  display: flex;
  align-items: center;
  margin: 20px 10px;
  justify-content: center;
}
.heading2 {
  font-size: 35px;
  text-align: center;
  padding: 0px 10px;
  font-family: syne;
  color: rgb(1, 218, 55);
  font-weight: 800;
}
.heading {
  font-size: 35px;
  text-align: center;
  font-family: syne;
  color: rgb(16, 126, 43);
  font-weight: 800;
}
body {
  background-color: rgb(10, 10, 10);
}
.income {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 30px 30px;
  margin: 20px 10px;
  border: 1px solid whitesmoke;
  justify-content: center;
  flex-direction: column;
}
.income h3 {
  font-size: 25px;
  font-family: syne;
  padding: 10px;
  color: rgb(218, 218, 218);
  font-weight: 700;
}
.expences h3 {
  font-size: 25px;
  font-family: syne;
  padding: 10px;
  color: rgb(218, 218, 218);
  font-weight: 700;
}

#income {
  font-size: 17px;
  font-family: syne;
  background-color: rgb(70, 70, 70);
  padding: 3px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
#expences {
  font-size: 17px;
  font-family: syne;
  background-color: rgb(70, 70, 70);
  padding: 3px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
#text {
  margin: 10px 0px;
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
  font-family: syne;
  padding: 3px 10px;
  color: rgb(255, 255, 255);
}
.income button {
  font-size: 20px;
  font-family: syne;
  color: wheat;
  padding: 3px 25px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  text-shadow: 2px 2px 2px black;
  background: linear-gradient(
    30deg,
    rgb(24, 153, 24),
    rgb(17, 182, 17),
    rgb(2, 226, 2)
  );
}

.expences button {
  font-size: 20px;
  font-family: syne;
  color: wheat;
  padding: 3px 25px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  text-shadow: 2px 2px 2px black;
  background: linear-gradient(
    30deg,
    rgb(24, 153, 24),
    rgb(17, 182, 17),
    rgb(2, 226, 2)
  );
}

.expences {
  display: flex;
  align-items: center;

  border-radius: 10px;
  padding: 30px 30px;
  border: 1px solid whitesmoke;
  justify-content: center;
  flex-direction: column;
}
.flex {
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  cursor: pointer;
  right: 40px;
  box-shadow: 0px 0px 10px rgb(63, 255, 95);
}
.iv {
  display: none;
}
.div {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 30;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: center;
  background-color: rgb(5, 5, 5);
  border-radius: 15px;
  width: 80%;
  margin: 20px 10px;
  box-shadow: 0px 0px 10px gray;
}
#logoo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(63, 255, 95);
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 10px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(255, 255, 255);
  background: linear-gradient(
    30deg,
    rgb(9, 116, 9),
    rgba(5, 131, 5, 0.39),
    rgb(8, 182, 8),
    rgba(0, 252, 0, 0.726),
    rgb(25, 160, 25),
    rgba(8, 182, 8, 0.527),
    rgb(10, 124, 10)
  );
  flex-direction: column;
}

.details a {
  text-decoration: none;
  color: rgb(208, 211, 209);
  padding: 7px 4px;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  font-family: syne;
  font-weight: 700;
}
.details a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 7px 4px;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  font-family: syne;
  font-weight: 700;
}
.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
}
.side h2 {
  font-size: 30px;
  font-family: syne;
  text-shadow: 2px 2px 2px white;
  color: rgb(16, 126, 43);
  font-weight: 800;
}
.side p {
  font-size: 18px;
  color: rgb(216, 216, 216);
  margin-top: 4px;
  font-family: syne;
  text-shadow: 2px 2px 2px black;
}
.box {
  padding: 165px 20px;
  display: flex;
  margin: 20px 10px;
  box-shadow: 0px 0px 10px rgb(184, 184, 184);
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(10%);
  flex-direction: column;
  background: linear-gradient(
    30deg,
    rgb(9, 116, 9),
    rgba(10, 228, 10, 0.39),
    rgba(7, 180, 7, 0.418),
    rgba(0, 252, 0, 0.726),
    rgb(25, 160, 25),
    rgba(10, 88, 10, 0.514),
    rgb(10, 124, 10)
  );
}
.box h3 {
  font-size: 20px;
  font-family: syne;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px black;
}
.box h1 {
  font-size: 40px;
  text-shadow: 2px 2px 2px black;
  font-family: serif;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atm:hover {
  transform: scale(1.05);
  color: white;
}
.atm {
  height: 290px;
  transition: all 0.3s ease-in;
  width: 540px;
  cursor: pointer;
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    30deg,
    rgba(0, 54, 0, 0.568),
    rgb(9, 219, 9),
    rgba(4, 182, 4, 0.568),
    rgba(0, 182, 0, 0.658),
    rgb(0, 255, 0),
    rgba(6, 116, 6, 0.63),
    rgba(0, 255, 0, 0.911),
    rgba(1, 49, 1, 0.589)
  );

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(233, 233, 233);
}
.row {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.atm h3 {
  font-size: 35px;
  font-family: syne;
  color: rgb(221, 218, 218);
  margin-bottom: 10px;
  text-align: end;
  padding: 10px 20px;

  font-weight: 300;
  text-shadow: 2px 2px 2px black;
}
.cvv h3 {
  text-align: center;
  font-size: 20px;
  font-family: syne;
  color: rgb(202, 202, 202);
}
.card-no {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-no h3 {
  font-size: 35px;
  font-family: syne;
  color: rgb(184, 184, 184);
  margin-bottom: 10px;
  text-align: end;
  padding: 10px 20px;
}
#chip {
  height: 55px;
  width: 70px;
}
.scane-code {
  position: relative;
  left: 30px;
}
.end h4 {
  font-size: 20px;
  font-family: syne;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-align: start;
  padding: 0px 30px;
}
.income-ex {
  height: 80vh;
  width: 300px;
  position: absolute;
  overflow-y: scroll;
  right: 30px;
  top: 120px;
  padding: 10px 10px;
  color: wheat;
  box-shadow: 0px 0px 10px rgb(10, 170, 10);
}
.income-ex ul li {
  list-style: none;
  font-size: 20px;
  box-shadow: 0px 0px 4px white;
  font-family: syne;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  cursor: pointer;
  text-align: start;
  text-shadow: 2px 2px 2px black;
  filter: brightness(70%);
  padding: 4px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    30deg,
    rgba(0, 54, 0, 0.568),
    rgb(9, 219, 9),
    rgba(4, 182, 4, 0.568),
    rgba(0, 182, 0, 0.658),
    rgb(0, 255, 0),
    rgba(6, 116, 6, 0.63),
    rgba(0, 255, 0, 0.911),
    rgba(1, 49, 1, 0.589)
  );
}
.income-ex ul li:hover {
  filter: brightness(100%);
  transform: scale(1.01);
}
.scanner {
  padding: 10px;
  margin: 40px;
  box-shadow: 0px 0px 10px green;
}
.scanner h3 {
  font-size: 20px;
  font-family: syne;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-align: start;
  padding: 0px 30px;
  text-shadow: 2px 2px 2px black;
  font-weight: 300;
}
.scanner img {
  width: 200px;
  height: 200px;

  margin-left: 11px;
  box-shadow: 0px 0px 10px wheat;
}
